body ,html{
    overflow-x: hidden;
}

/*SECTION 0*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #07cec3;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}
.navbar-default {
    padding-top: 50px;
    background-color:transparent;
    border-color: transparent;
    text-transform: uppercase;
}

.section_0{
    background-image: url(../images/background.png);
}

.sec_0{
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    color: #fff;
}

.sec_0 hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 6%;
    border:1px solid #07cec3;
}

.sec_0 h1{
    font-size: 45px;
}

.sec_0 p{
    padding-bottom: 50px;
    font-size: 16px;
}

.sec_0 a{
    color: #07cec3;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #07cec3;
    padding: 10px 15px 10px 15px;
}

/*Section 1*/
.section_1{
    padding-top: 70px;
    padding-bottom: 70px;
}

.section_1 img{
    padding-top: 30px;
}

.section_1 h2{
    padding-bottom: 10px;
}


.section_1_btn{
    padding-top: 30px;
}

.section_1_btn a{
    border:1px solid #07cec3;
    color:#07cec3;
    text-decoration: none;
    padding:10px 15px 10px 15px;
}

/*Section_2*/
.section_2{
    background-image: url('../images/background_1.png');
    text-align: center;
    color:#fff;
}

.section_2 img{
    padding-top: 200px;
}

.section_2 h4{
    padding-top: 20px;
    padding-bottom: 200px;
}

/*Section 3*/
.section_3{
    
}

.section_3_first{
    text-align: center;
    padding-top: 70px;
}

.section_3_first h5{
    color:#c6c4c9;
}

.section_3_first hr{
    width: 6%;
    border:1px solid #c6c4c9;
}

.iconat{
    text-align: center;
    border-bottom: 1px solid #c6c4c9;
}

.icon_1{
    padding-top: 70px;
    border-right: 1px solid #c6c4c9;
}

.icon_1 img{
    padding-bottom: 30px;
}

.icon_1 p{
    padding-top: 30px;
    padding-bottom: 40px;
    color:#c6c4c9;
}

.icon_2{
    padding-top: 70px;
    border-right: 1px solid #c6c4c9;
}

.icon_2 img{
    padding-bottom: 30px;
}

.icon_2 p{
    padding-top: 30px;
    padding-bottom: 40px;
    color:#c6c4c9;
}

.icon_3{
    padding-top: 70px;
}

.icon_3 img{
    padding-bottom: 30px;
}

.icon_3 p{
    padding-top: 30px;
    padding-bottom: 40px;
    color:#c6c4c9;
}

.icona{
    text-align: center;
}

/*Section 4*/
.section_4{
    padding-top: 20px;
    text-align: center;
    color: #fff;
    background-image: url('../images/background_2.png');
    width: 100%;
}

.section_4 h5{
    padding-top: 20px;
    padding-bottom: 10px;
}

.section_4 hr{
    width: 6%;
    padding-bottom: 20px;
}

.card_1{
    border:1px solid #fff;
}

.white{
    background:#fff;
    height:230px;
}

.name{
    padding-top: 10px;
    padding-bottom: 10px;
}

.fin p{
    padding-top: 60px;
    padding-bottom: 20px;
}

.section_4_btn a{
    border:1px solid #07cec3;
    color:#07cec3;
    text-decoration: none;
    padding:10px 15px 10px 15px;
}

.section_4_btn{
    padding-bottom: 80px;
}

/*Section 5*/

.section_5_first{
    padding-top: 50px;
    padding-bottom: 50px;
}

.righti{
    float:right;
}

.section_5_btn{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.section_5_btn a{
    border:1px solid #07cec3;
    color:#07cec3;
    text-decoration: none;
    padding:10px 15px 10px 15px;
}

.col-md-2{
    padding-left: 0px;
    padding-right: 0px;
}

/*Section 6*/
.section_6{
    padding-top: 50px;
    background-image: url('../images/background_3.png');
    text-align: center;
    color:#fff;
}

.section_6 img{
    padding-bottom: 25px;
}

.section_6 p{
    padding-bottom: 50px;
}


/*Section 7*/
.section_7{
    padding-top: 65px;
}

.section_7 form{
    padding-top: 45px;
}
.brands ul {
    list-style: none;
}

.brands ul li{
    padding-bottom: 50px;
}

.brands h3{
    padding-left: 50px;
    padding-bottom: 40px;
}

.section_7_btn{
    padding-top: 40px;
}

.section_7_btn a{
    border:1px solid #07cec3;
    color:#07cec3;
    text-decoration: none;
    padding:10px 15px 10px 15px;
}

/*Section 8*/
.section_8{
    background-image: url('../images/background_4.png');
    color:white;
    padding-top: 70px;
}

.first_8 img{
    padding-bottom: 30px;
}

.first_8 ul{
    padding-top: 70px;
    padding-left: 0px;
    list-style: none;
}

.first_8 ul li{
    display: inline;
    padding-right: 20px;
}

.icona_1 ul{
    list-style: none;
    padding-left: 0px;
}

.icona_2{
    padding-left: 0px;
}

.icona_2 ul{
    list-style: none;
    padding-left: 0px;
}

.second_8 h4{
    padding-top: 5px;
    padding-bottom: 35px;
}

.section_8 .form-control{
    width: 59%;
    background-color: transparent;
    color:#fff;
    border-radius: 0px;
    padding: 22.5px 12px;
}

.ul-input{
    padding-top: 5px;
}

.ul-input h4{
        padding-bottom: 37px;
}

.ul-input ul {
    list-style: none;
    padding-left: 0px;
}
.ul-input ul li{
    display: inline;
}

.ul-input ul li img{
    float: right;
    margin-top: -62px;
    margin-right: 65px;
}

.add_icon{
    padding-bottom: 53px;
    padding-top: 5px;
}